@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #151515;
    overflow-x: hidden;
}

.icon {
    height: 30px;
}


.navbar {
    position: fixed;
    width: 100vw;
    overflow-x: hidden;
    background: transparent;
    backdrop-filter: blur(18px) ;
}

.brand-logo{
    width: 5vw;

}


.nav-item {
    margin-left: 1rem;
}

.nav-item a {
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;

}

.cool-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

.nav-item a:hover {
    color: #fff;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -4px;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: #898989;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    background-color: transparent;
    color: #fff;
    pointer-events: painted;
}

.btn-search:hover~.input-search {
    width: 250px;
    border-radius: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 0.8s cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:hover {
    width: 250px;
    border-radius: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    filter: drop-shadow(0px 0px 0px #564146);
    ;


}

.search-btn {
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.container-fluid button {
    background-color: transparent;
    border: none;
}

.offcanvas-header a img {
    height: 80px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}



.search__container {
    padding-top: 0px;

}

.search__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}


.offcanvas-body ul li {
    list-style: none;
}

.offcanvas-body ul {
    padding-left: 0rem;
}

.icons img {
    margin-top: -1px;
    margin-right: 24px;
    height: 26px;
}

.cart {
    position: relative;
    left: 82%;
}

.user {
    position: relative;
    left: 68%;
}

.like {
    position: relative;
    left: 75%;
}

.navbar-toggler input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 46px;
    right: 79px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 49px;
    right: 78px;

    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #585858;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.navbar-toggler input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.navbar-toggler input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

/* ------------------------------------------------------video----------------------------------------------------------------------- */


.video-bg {
    /* position: fixed; */
    /* top: 50%;
    left: 50%;  
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); */
    
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
    object-fit: cover;

} 


/* ------------------------------------------------------page 1------------------------------------------------------------------------ */

#page1{
    position: relative;
    padding-top: 8rem;
    background-size: cover;
}

#page1 .video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
/* 
#page1 video{
    position: absolute;
    width: 100vw;
    height: 120%;
    object-fit: cover;
    
} */

#page1 .overlay{
    position: relative;
    /* border: 2px solid #fff; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}

#page1 .overlay img{
    /* position: absolute; */
    width: 55%;
    height: 100%;
}

#page1 .overlay .middle{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    */
    width: 60%;
    /* transform: translateX(-26%); */
    z-index: 2;
}
#page1 .overlay .left{
    /* position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%); */
    transform: translateX(60%);

}
#page1 .overlay .right{
    /* position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%); */
    transform: translateX(-52%);

} 

#page1 .p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-top: 3.5vw;
}

#page1 p span{
    color: #147AFE;
    font-weight: bolder;
}

#page1 .p1{
    font-weight: bold;
    font-size: 3vw;    
}
#page1 .p2{
    font-size: 1.5vw;
}

#page1 .buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-bottom: 4vw;
    z-index: 2;
    /* font-size: 1.5vw; */
}

#page1 .buttons .b1{
    background-color: #147AFE;
    padding: 15px 5vw;
    border:none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;

}

#page1 .buttons .b2{
    backdrop-filter: blur(18px);
    padding: 15px 5vw;
    border:none;
    border-radius: 8px;
    color: #A9A0A7;
    font-weight: bold;
}

#page1 .buttons .b1 svg{
    margin-right: 1vw;
}
#page1 .buttons .b2 svg{
    margin-right: 1vw;
}

/* ------------------------------------------------page2----------------------------------------------------------------- */


#page2{
    position: relative;
    margin-top: 2vw;
}


#page2 .top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#page2 .middle .p1 {
    color: #6E41CC;
    font-size: 2.5vw;
    font-weight: bold;
}
#page2 .middle .p2 {
    color: #fff;
    font-size: 1.3vw;
}


#page2 .line {
    height: 133px;
    width: 1px;
    background-color: #21313F;
}

#page2 .img_overlay{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#page2 .img_overlay img{
    margin: 4vw auto;
    width: 70vw;
    height: auto;
}


#page2 .buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-bottom: 4vw;
    z-index: 2;
    /* font-size: 1.5vw; */
}

#page2 .buttons .b1{
    background-color: #147AFE;
    padding: 15px 5vw;
    border:none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}

#page2 .buttons .b2{
    backdrop-filter: blur(18px);
    padding: 15px 5vw;
    border:none;
    border-radius: 8px;
    color: #A9A0A7;
    font-weight: bold;
}

#page2 .buttons .b1 svg{
    margin-right: 1vw;
}
#page2 .buttons .b2 svg{
    margin-right: 1vw;
}
